 <h1 class="text-center">
    Athlete
 </h1>
 <div class="header_menu">
     <div onclick="header_menu_click(this)" title="clubs">
        clubs   
     </div>
     <div onclick="header_menu_click(this)" title="athletes">
        athletes
     </div>
     <div onclick="header_menu_click(this)" title="villes">
        villes
     </div>
     <div>
        <i class="fa fa-user-circle" onclick="header_menu_click(this)" title="fa-user-circle"></i>
     </div>
 </div>
 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <style>
     .text-center{
         text-align: center;
     }
     .header_menu,  .form_choix{
          background-color: #ad3117;
          color:white; 
          padding: 15px;
     }
     .header_menu div:hover,  .form_choix div:hover{
          color: #ad3117;
          background-color: white;
          cursor:pointer;          
     }
     .header_menu{
         display: flex;
         justify-content: space-around;
        
     }
     .margin-top-100px{
         margin-top: 100px;
     }
 

 </style>