<div id="information_envoie"></div>
<div class="log_form">
    <h1>
        inscription
    </h1>
    <div>
       <input type="text" placeholder=" Adresse mail" class="largeur_inscription" id="input_inscription"> <br/>
       <div type="submit" id="se_inscrire" class="se_inscrire largeur_inscription" onclick="inscription()">Envoyer</div>
    </div>
    <div>

    </div>
</div>


<style>
    .log_form{
            width:500px; 
            margin:auto ;        
            text-align: center;

    }
    .log_form input {
        background-color: #dcdddf;
        text-align: center;    
    }



    #se_inscrire{
        border:1px solid rgba(0,0,0,0) ; 
     background-color:"red" ;  
 
        margin:auto; 
    }
    #se_inscrire {
        background-color:#ad3117 ; 
        color:white; 
    }
   #se_inscrire:active {
        background-color:#b74a37 ; 
        color:white; 
    }
   #se_inscrire:hover {
        cursor:pointer;
    }
    .largeur_inscription{
        width:50%;
        margin:auto ; 
        margin-top:20px;
    }
    #se_inscrire{
        margin-top:15px; 
    }
 
</style>